#card{
  color: #ffffff;
  text-align: center;
  margin: 20px;
  background-color: rgba(85, 74, 60, 0.808);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.801);
}

#card img{
  width: 200px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

h3, p{
  margin: 5px
}

p{
  background-color: rgba(255, 255, 255, 0.253);
  border-radius: 10px;
}

.Ravenclaw img{
  border: 3px solid rgba(253, 232, 47, 0.26);
}

.Slytherin img{
  border: 3px solid rgba(11, 1, 105, 0.308);
}

.Gryffindor img{
  border: 3px solid rgba(129, 0, 0, 0.384);
}

.Hufflepuff img{
  border: 3px solid rgba(0, 104, 5, 0.363);
}

.Ravenclaw p{
  color: rgb(253, 233, 47);
  font-weight: bold;
}

.Slytherin p{
  color: rgb(12, 1, 105);
  font-weight: bold;
}

.Gryffindor p{
  color: rgb(129, 0, 0);
  font-weight: bold;
}

.Hufflepuff p{
  color: rgb(0, 253, 13);
  font-weight: bold;
}


