.App {
  text-align: center;
}

.App h1{
  color: #fff;
  font-size: 50px;
}

.App button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  background-color:rgb(202, 189, 0);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(250, 250, 250, 0.76);
  color: rgb(39, 39, 39);
  border: none;
  font-weight: bold;
  letter-spacing: 3px;
}

button:hover{
  background-color: rgb(255, 246, 122);
  font-size: 21px;
}

.App div{
  color: rgb(180, 180, 180);
  margin-bottom: 40px;
  font-size: 25px;
}
